<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.archerda.workflow.wx-message-pusher</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>49546F9F-8AC6-43C0-A416-3E43F60E26C2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>14C64B7D-D9A0-419B-B283-000D7D5C1A23</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>archerda</string>
	<key>description</key>
	<string>push message to wechat</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>wx-message-pusher</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>bash push.sh "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>14C64B7D-D9A0-419B-B283-000D7D5C1A23</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>push</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>push a message to wechat</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>49546F9F-8AC6-43C0-A416-3E43F60E26C2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>14C64B7D-D9A0-419B-B283-000D7D5C1A23</key>
		<dict>
			<key>xpos</key>
			<integer>470</integer>
			<key>ypos</key>
			<integer>130</integer>
		</dict>
		<key>49546F9F-8AC6-43C0-A416-3E43F60E26C2</key>
		<dict>
			<key>xpos</key>
			<integer>110</integer>
			<key>ypos</key>
			<integer>130</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>archerda.github.io</string>
</dict>
</plist>
